*{
    padding: 0;
    margin: 0;
}
#logo{
    width: 150px;
    padding-left: 40px;
}
.sidemenu{
    position: fixed;
    width: 200px;
    background-color: black;
}
.options{
    margin-top: 60px;
}
.opt{
    display: inline;
	float: left;
    color: white;

}
.options a{
    display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
	color: #eee;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline-start: 40px;
}
.links ul{
    margin-top: 541px;
    margin-left: 25px;
}
.links li{
    display: inline;
    float: inline-start;
    margin-left: 4px;
}
.links a{
    display: inline-flex;
}
.button{
    margin-top: 20px;
}
.bb{
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: rgb(214, 108, 108);
}
.reminingpart{
    height: 760px;
    margin-left: 200px;
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heding{
    padding-top: 100px;
    padding-left: 120px;
    font-size: 80px;
    font-family: sans-serif;
    color: #eee;
}
.heding1{
    padding-left: 120px;
    font-size: 80px;
    font-family: sans-serif;
    color: #eee;
}
.subhead{
    padding-left: 120px;
    font-size: 20px;
    color: white;
}
.inputtext{
    height: 60px;
    width: 400px;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 30px;
    font-family: sans-serif;
}
.subscribe{
    height: 60px;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    background-color: rgb(239, 43, 43);
}
.loc{
    margin-left: 120px;
    padding-top: 15px;
}
.location{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}