*{
    padding: 0;
    margin: 0;
}
/* body{
background-image: url(body.png);
background-repeat: no-repeat;
background-size:cover;
} */
#logo{
    width: 150px;
    padding-left: 40px;
}
.sidemenu{
    position: fixed;
    width: 200px;
    background-color: black;
}
.options{
    margin-top: 60px;
}
.opt{
    display: inline;
	float: left;
    color: white;

}
.options a{
    display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	padding-top: 5px;
	color: #eee;
    font-family: sans-serif;
    font-size: 13px;
    padding-inline-start: 40px;
}
.links ul{
    margin-top: 500px;
    margin-left: 25px;
}
.links li{
    display: inline;
    float: inline-start;
    margin-left: 4px;
}
.links a{
    display: inline-flex;
}
.button{
    margin-top: 20px;
}
.bb{
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: rgb(214, 108, 108);
}
