*{
    padding: 0;
    margin: 0;
}
#logo{
    width: 150px;
    padding-left: 40px;
}
.sidemenu{
    position: fixed;
    width: 200px;
    background-color: black;
}
.options{
    margin-top: 60px;
}
.opt{
    display: inline;
	float: left;
    color: white;

}
.options a{
    display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
	color: #eee;
    font-family: sans-serif;
    font-size: 20px;
    padding-inline-start: 40px;
}
.links ul{
    margin-top: 541px;
    margin-left: 25px;
}

.links li{
    display: inline;
    float: inline-start;
    margin-left: 4px;
}
.links a{
    display: inline-flex;
}
.button{
    margin-top: 20px;
}
.bb{
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: rgb(214, 108, 108);
}
.reminingpart{
    position: relative;
    height: 760px;
    margin-left: 200px;
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heding{
    padding-top: 100px;
    padding-left: 120px;
    font-size: 80px;
    font-family: sans-serif;
    color: #eee;
}
.heding1{
    padding-left: 120px;
    font-size: 80px;
    font-family: sans-serif;
    color: #eee;
}
.subhead{
    padding-left: 120px;
    font-size: 20px;
    color: white;
}
.inputtext{
    height: 60px;
    width: 400px;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 30px;
    font-family: sans-serif;
}
.subscribe{
    height: 60px;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    background-color: rgb(239, 43, 43);
}
.loc{
    margin-left: 120px;
    padding-top: 15px;
}
.location{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.typesofpizza{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40px;
    padding-left: 20px;
}
.totalc{
    width: 350px;
    margin-top: 180px;
    padding-left:40px;
    align-items: center;
    position: relative;
}
.mimg{
    width: 350px;
    height:350px;
}
.mmimg{
    width: 350px;
    height:350px;
    border-radius: 50%;
}
.name{
    width: fit-content;
    margin-top: 20px;
    font-size: 23px;
    margin-left: 80px;
    color: rgb(255, 232, 119);
    font-weight: 600;
    font-family: sans-serif;
}
.price{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 130px;
    font-family: sans-serif;
    font-weight: 400;
    color: coral;
}
.button1{
    background-color: rgb(239, 43, 43);
    height: 50px;
    width:150px;
}
.button1  a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.button2 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.button2{
    background-color:lightgray;
    height: 50px;
    width:150px;
}
.h{
  padding-left: 40px;
    visibility: hidden;
}
.totalc:hover .h{
   visibility: visible;
}
.menu{
    height:175px;
    border:2px solid red;
    display: flex; 
    background-color: cadetblue;
}
.menu li{
    display: inline;
    padding-left: 50px;
    flex-wrap: wrap;
}
.menu img{
    width :150px;
}
.menu ul{
 display: flex;
align-items: center;
align-content: center;
}
.menu a{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500px;
    text-decoration: none;
}
.menu button{
    height: 50px;
    width: 150px;
    background-color: rgb(240, 86, 59);
}
.menu1{
    padding-left: 150px;
}
.poster{
    height: 250px;
    background-color: black;
    margin-top: 50px;
    color: white;
}
.poster h1{
    padding-left: 700px;
    font-family: sans-serif;
    font-size: 60px;
    padding-top: 10px;
}
.poster h3{
    padding-left: 660px;
    font-family: sans-serif;
    font-size: 40px;
    padding-top: 40px;
}
.succ img{
    margin-top: 20px;
    margin-left: 600px;
    width: 400px;
    height: 420px;
    display: flex;
}
.suc{
    margin-top: 10px;
    margin-left: 450px;
    font-size: 80px;
    font-family: sans-serif;
}
